body {
    background-color: #202850;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    height: 90px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: rgb(255, 255, 255);
}

form {
    margin-top: 50px;
    height: 35px;
    width: 100%;
    font-size: 20px;
    vertical-align: middle;
    /* background-color: rgb(255, 255, 255); */
    /* border-radius: 15px; */
}

.b {
    height: 35px;
    width: 25%;
    font-size: 20px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 50px;
}

.input1 {
    height: 20px;
    width: 50%;
    font-size: 14;
    vertical-align: middle;
    border-radius: 15px;
}

#script {
    height: 120px;
    width: 80%;
    font-size: 14;
    border-radius: 15px;
    float: left;
    text-align: center;
}

#box {
    width: 90%;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}